<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <!-- Console output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>


    <!-- File output -->
    <appender name="FILE"
              class="ch.qos.logback.core.FileAppender">

        <file>C:\Users\nethra.r\IdeaProjects\payment-management\src\main\java\org\company\payment\logs\application.log</file>

        <append>true</append>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>


    <!-- Root logger -->
    <logger name="org.company.payment" level="INFO" additivity="true">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>